<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">| 快速操作 |<span class="sr-only">(current)</span></a></li>
      <li id="liforcompose"><a href="/compose">写新文章</a></li>
        
        <li ><a href="/profile">我的资料</a></li>
        <li id="liforbloglist"><a href="/bloglist">我的文章</a></li>
        <li id="liformyblog"><a href="/space/<%= session.domainname %>">我的博客</a></li>
        
        <li><a href="/chatroom">聊天页面</a></li>
      </ul>   
  </div>
  