<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
</head>
<body>  
<div>
  <br>
  <br>
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h1>小乖乖，快登录吧~~~</h1>
    <hr>  
      
    <br>
    <form name="loginForm" method="post" class="am-form" action="/login" onsubmit="return doValidate()">
      <label for="username">呢  称:</label>
      <input type="text" name="username" id="username" value="" required>
      <label id="errForUsername" style="color:red" value=""></label>
      <br>
      <label for="password">暗  号:</label>
      <input type="password" name="password" id="password" value="" placeholder="请输入暗号" required>
      <label id="errForPassword" style="color:red" value=""></label>
      <br>
       
      <div class="am-cf">
        <input type="submit" id="btnLogin" name="btnLogin" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="button" name="btnFoget" value="还没有账号? " onclick="doRender()" class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
    </form>
    <hr>
    <p>© 2019 YAHAHA</p>
  </div>
</div>
</body>
<script src="assets/js/vendor/jquery.min.js">
</script>
  
  <script>
  
  //validate: for username
  function chkUsername() {
    var username = document.getElementById("username").value;
    var errpad = document.getElementById("errForUsername");
   

    //null
    if(username == "" || username == null) {
      errpad.innerHTML = "*呢称未入力";
      return false;
    }
   
    errpad.innerHTML = "";
    return true;
  } 

  //validate: for Password
  function chkPassword() {

    var password = document.loginForm.password.value;
    
    var errpad = document.getElementById("errForUsername");

    if(password == "") {
      errpad.innerHTML = "*暗号未入力";
      return false;
    }

    return true;
  }

 
  function doValidate() {
    var check = chkUsername() && chkPassword();
    return check;
  }

  function doRender(){
    window.location.href = "/register";
  }
</script>
<!-- </script> -->

</html>
